.listItem {
  padding: 1rem;
  box-shadow: none;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: rgb(223, 234, 255);
  }
}

@media (max-width: 766px) {
    .listItem {
        font-size: 0.9rem;
    }
}